* {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: rgb(253, 251, 251);
    font-family: 'Lora', serif;
    font-size: 18px;
  }
  
  #cabecalho {
    background-color: #718355;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
  }
  
  #cabecalho>h1 {
    color: #CFE1B9;
    padding: 30px
  }
  
  .section-nav-bar>nav {
    background: #B5C99A;
    padding: 10px;
    text-align: center;
  }
  
  .nav-bar>li {
    display: inline;
    font-weight: bold;
    padding: 15px;
  }

  .nav-bar>li>a {
    color: black;
    text-decoration: none;
  }
  
  main>header {
    margin: 0 auto;
    width: 400px;
  }

  #minha_foto {
    border: 3px solid #B5C99A;
    margin-left: 20px;
    margin-top: 190px;
    width: 340px;
  }
    
  section>figure>figcaption {
    font-size: 15px;
    font-style: italic;
    margin-left: 15px;
  }
 
  .hiperlink {
    margin-left: 20px;
    padding-top: 30px;
  }

  .list-lessons {
    display:flex;
    margin-top: 50px;
  }

 .aprendida {
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 30px;
  }

  .aprender {
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 595px;
  }

  .list-aprendidas>ol {
    float: left;
    margin-left: 65px;
}

  .list-aprender>ul {
    float: right;
    margin-right: 40px;
  }
  
  .articles {
    text-align: left;
  }

  section>article>p {
    line-height: -10px;
  }

  section>aside>p {
    line-height: -10px;
  }
  
  .tabela {
    color: red;
    line-height: -10px;
    visibility: hidden;
  }
  
  .position {
    display: flex;
  }
  
  .lado-esquerdo {
    border: 3px solid #97A97C;
    float: left;
    margin: 20px;
  }
  
  .lado-direito {
    border: 3px solid #97A97C;
    float: right;
    margin: 20px;
  }

  .contatos {
    margin-left: 20px;
    margin-bottom: 15px;
  }

  .contatos>h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .contatos>ul>li {
    list-style-type: none;
  }

  .contatos>ul>li>a {
    color: black;    
    line-height: -6px;
    text-decoration: none;
  }
  
  footer {
    background-color: #B5C99A;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }